PORT=3000

# Servicio SOAP Medi-IGSS
IGSS_SOAP_HOST=servicios.igssgt.org
IGSS_SOAP_PATH=/WServices/WsLabMediIGSS/WsLabMediIGSS.asmx
IGSS_SOAP_USER=WsConsultaLabs
IGSS_SOAP_PASSWORD=
IGSS_SOAP_TIMEOUT_MS=20000

# Instancia 4DSERVICE
DB_4DSERVICE_HOST=localhost
DB_4DSERVICE_PORT=1433
DB_4DSERVICE_USER=sa
DB_4DSERVICE_PASSWORD=
DB_4DSERVICE_NAME=4DSERVICE_IGSSZ11

# Instancia 4DLAB
DB_4DLAB_HOST=localhost
DB_4DLAB_PORT=1433
DB_4DLAB_USER=sa
DB_4DLAB_PASSWORD=
DB_4DLAB_NAME=4DLAB_IGSS_Z11
